@import "optimus.css";

body {
    font-family: "Optimus", sans-serif;
}

.container {
    padding-top: 2rem;
    max-width: 1000px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    color: red;
}

.logo {
    background-color: aqua;
    background-image: url("./IMG/logo.png");
    height: 61px;
    width: 166px;
}
